@font-face {
    font-family: 'Lucida';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
         url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
         url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


body {
 font-family: Lucida, Arial, sans-serif;
}

.wrapper {
  width: 914px;
  margin: 0 auto;
  text-align: center;
}

header {
  position: relative;
  width: 100%;
  height: 53px;  
  line-height: 36px;
}

nav.header {
  float: right; 
  width: 75px;
  height: 22px;
  margin-top: 16px;
  margin-right: 9px;
  border: 1px solid #8b979c;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 15px 15px 15px 15px;
  line-height: 25px;
}

.login{
  position: relative;
  float: right;
  width: 495px;
  height: 27px;
  margin: 15px 18px 0 14px;
  background: #13466a;
  background: linear-gradient(to top, #0d365a, #1e6383);
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  color: #fff;
  line-height: 1;
}

.login input {
  height: 10px;
  margin-top: 5px;
}

.login input[type="text"] {
  width: 110px;
  margin-left: 5px;
}

.login input[type="password"] {
  width: 109px;
  margin-left: 2px;
}

.login a {
 color: #fff;
 font-family: Lucida;
 font-size: 11px;
 text-decoration: none;
 letter-spacing: -0.01em;
 padding-left: 3px;
}

a.forget{
  display: block;
  float: right;
  margin: 9px 6px 7px 0;
  color: #bfbfbf;
  text-decoration: underline;
  letter-spacing: 0.05em;
}


.log_img {
  position: absolute;
  top: 0;
  left: 6px;
}

.phone {
  position: absolute;
  top: 21px;
  left: 9px;
}

header p {
  padding-left: 33px;
  padding-top: 14px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  color: #5e696d;
}



/*--------------------- BAR  -------------------------------*/

.bar {
  width: 100%;
  height: 34px;
  margin: 3px 0;
  background: #010101;
  background: linear-gradient(to top, #010101, #505860);
  border: 1px solid #2c345a;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 3px 5px 0px rgba(50, 50, 50, 0.75);

}


.basket {
  float: right;
  width: 225px;
  margin-right: 13px;
}



.basket img {
  float: left;
  margin: 8px 8px;
}



.basket p {
  line-height: 32px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 11px;
  letter-spacing: 0,005em;
}

.basket p span {
  color: #449bd4;
  font-size: 12px;
  padding: 0 5px;
}



/*-------------------------------- NAV -------------------------------*/

nav {
  float: right;
}


nav ul{
  margin-right: 47px;
}


nav ul li {
  list-style: none;
  float: left;
  margin-top: 4px;
  font-size: 15px;
  font-family: Lucida;
  letter-spacing: -0.07em;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}


nav ul li a {
  display: block;
  margin: 0;
  color: #b1bcc0;
  text-decoration: none;
  padding: 0 15px;
}

nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  background: #164e70;
  background: linear-gradient(to top, #0c3357, #1f6585);
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius:    20px 20px 20px 20px;
  border-radius:         20px 20px 20px 20px;
}



/*--------------------------- SEARCH -------------------------------*/



.search {
  clear: both;
  width: 914px;
  }


.search_auto {
  width: 407px;

}


.search_tire {
  width: 188px;
}


.search_disk {
  width: 257px;
}

.search_auto, .search_tire, .search_disk {
  float: left;
  margin: 12px 4px 20px 4px;
  padding: 5px;
  height: 120px;
  border: 1px solid #b8b8b9;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         4px 5px 10px 0px rgba(50, 50, 50, 0.75);
}


/*--------------------------- THREE COLUMNS -------------------------------*/

.three_columns {
  clear: both;
  width: 100%;
}


main {
  width: 519px;
  float: left;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 7px 7px 7px 7px;
  background: #acbac1;
  background: linear-gradient(to top, #93a7b0, #e5e7e8);
  padding-left: 6px;
  padding-top: 5px;
  padding-bottom: 13px;
}

.tovar_box {
  width: 168px;
  height: 190px;
  padding: 0;
  margin: 7px 0 6px 0;
  float: left;
  text-align: center;
  line-height: 0.9;
  box-sizing: border-box;

}


.tovar_name1 {
  padding-left: 5px;
  color:#206988;
  font-size: 16px;
  font-family: Lucida;
  font-weight: bold;	
}

.tovar_name2 {
  letter-spacing: -0.05em;
  padding-left: 5px;
  color:#1f2528;
  font-family: Lucida;
  font-size: 14px;	
}


.pic_box {
  width: 136px;
  height: 125px;
  background: #fff;
  border: 1px solid #b1b9bc;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  margin: 1px auto;
  padding-top: 6px;

}




.tovar_price {
  padding-top: 1px;
  padding-left: 15px;
  color:#114165;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;	
}

.tovar_price  span{
  font-size: 13px;
}


/*----------------------------- SIDEBARS------------------------------*/


section.brands {
  float: right;
  width: 184px;
  background: #fff;
  text-align: left;
}

section.catalog{
  float: left;
  width: 184px;
  background: #fff;
  margin-right: 9px;
  text-align: left;
}


section.catalog ul {
  position: absolute;
  top: 28px;
  left: 36px;
}



section.catalog ul li a {
  font-size: 13px;
  line-height: 25px;
  color: #465961;
  text-decoration: none;
}



section.catalog ul li a:before  {
  content: "";
  display:block;
  float: left;
  margin: 9px 6px 0 0;
  width: 4px;
  height: 4px;
  border: 1px solid #465961;
  border-radius: 2px;	
}



section.catalog ul li a:hover {
  color: #083560;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}



section.catalog ul li a:hover:before {
  content: "";
  display:block;
  float: left;
  margin: 7px 7px 0 0;
  width: 4px;
  height: 4px;
  border: 2px solid #083560;
  border-radius: 4px;	
}


section.catalog h2, section.brands h2  {
  display: block;
  width: 178px;
  height: 24px;
  padding-right: 4px;
  border: 1px solid #8b979c;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius:      15px 15px 15px 15px;
  -webkit-box-shadow:  2px 3px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 3px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 3px 3px 0px rgba(50, 50, 50, 0.75);
  font-family: Lucida;
  line-height: 27px;
  text-transform: uppercase;
  font-size: 14px;
  color: #1d6181;
  letter-spacing: -0.05em;
}


section.brands h2 {
  width: 175px;
  line-height: 24px;
  letter-spacing: 0;
}

.h2c_icon {
  float: left;
  margin: 3px;
}

.h2b_icon {
  float: left;
  margin: 2px 5px 2px 2px;
}

.ancor_l{
  position: relative;
  height: 113px;
}

.catalog_icon {
  position: absolute;
  top: 2px;
  left: 7px;
}

section.catalog h3, section.brands h3 {
  width: 118px;
  height: 26px;
  margin: 15px 0 15px 2px;
  padding-left: 30px;
  border: 1px solid #8b979c;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 15px 15px 15px 15px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: left;
  font-size: 14px;
  color: #1d6181;
}


.ancor_r{
  position: relative;
  height: 98px;
}


section.brands h3 {
  margin-left: 12px;
  width: 106px;
}




.brands_icon {
  position: absolute;
  top: 2px;
  left: 16px;
}





section.brands form {
  position: absolute;
  top: 31px;
  left: 22px;
}


section.brands label {
  display: block;
  font-size: 13px;
  line-height: 25px;
  color: #465961;
}

.checkbox {
  vertical-align: top;
  margin: 8px 16px 0 0;
  width: 10px;
  height: 10px;
}


.button { 
 width: 63px;
 height: 16px;
 margin-top: 94px;
 margin-left: 22px;
 border-top: 1px solid #7a95a1; 
 background: #13486b; 
 background: linear-gradient(to top, #0c3357, #1f6787);
 padding: 5px 10px;
 -webkit-border-radius: 15px;
 -moz-border-radius: 15px; 
 border-radius: 15px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 box-shadow: 0 1px 2px rgba(0,0,0,.2);
 text-shadow: rgba(0,0,0,.4) 0 1px 0;
 color: #fff;
 text-transform: uppercase;
 text-align: center;
 font-family: Arial, sans-serif;
 font-size: 11px;
 line-height: 15px; 
 text-decoration: none;
} 


.button:hover {
 background: #00678e;
 background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
 background: -moz-linear-gradient(top, #0095cc, #00678e);
 background: -ms-linear-gradient(top, #0095cc, #00678e);
 background: -o-linear-gradient(top, #0095cc, #00678e);
} 


.button:active {
 border-top-color: #00adee;
 background: #00adee; 
}




/*--------------------------- FOOTER -------------------------------*/

figure {
  clear: both;
  margin: 0 auto;
  width: 676px;
  border: 1px solid transparent;
}


ul.logo {
  margin: 35px 0 24px;
  position: relative;
  overflow: hidden;
}

ul.logo li {
  list-style: none;
  float: left;
}

ul.logo a {

}

a.logo__toyo {
  display: block;
  width: 96px;
  height: 25px;
  background: url(../img/brands_sprite.png) 0 0 no-repeat;
}

a.logo__toyo:hover{
  display: block;
  width: 96px;
  height: 25px;
  background: url(../img/brands_sprite.png) 0 -31px no-repeat;
}


a.logo__bridg {
  display: block;
  width: 110px;
  height: 25px;
  background: url(../img/brands_sprite.png) -96px 0 no-repeat;
}

a.logo__bridg:hover {
  display: block;
  width: 110px;
  height: 25px;
  background: url(../img/brands_sprite.png) -96px -31px no-repeat;
}

a.logo__cont {
  display: block;
  width: 91px;
  height: 25px;
  background: url(../img/brands_sprite.png) -206px 0 no-repeat;
}

a.logo__cont:hover {
  display: block;
  width: 91px;
  height: 25px;
  background: url(../img/brands_sprite.png) -206px -31px no-repeat;
}

a.logo__doop {
  display: block;
  width: 71px;
  height: 25px;
  background: url(../img/brands_sprite.png) -297px 0 no-repeat;
}

a.logo__doop:hover {
  display: block;
  width: 71px;
  height: 25px;
  background: url(../img/brands_sprite.png) -297px -31px no-repeat;
}

a.logo__avon {
  display: block;
  width: 90px;
  height: 25px;
  background: url(../img/brands_sprite.png) -369px 0 no-repeat;
}


a.logo__avon:hover {
  display: block;
  width: 90px;
  height: 25px;
  background: url(../img/brands_sprite.png) -369px -31px no-repeat;
}

a.logo__rosm {
  display: block;
  width: 69px;
  height: 27px;
  background: url(../img/brands_sprite.png) -459px 0 no-repeat;
}

a.logo__rosm:hover {
  display: block;
  width: 69px;
  height: 27px;
  background: url(../img/brands_sprite.png) -459px -31px no-repeat;
}


a.logo__pirelli {
  display: block;
  width: 76px;
  height: 25px;
  background: url(../img/brands_sprite.png) -528px 0 no-repeat;
}


a.logo__pirelli:hover {
  display: block;
  width: 76px;
  height: 25px;
  background: url(../img/brands_sprite.png) -528px -31px no-repeat;
}



a.logo__dunlop {
  display: block;
  width: 72px;
  height: 25px;
  background: url(../img/brands_sprite.png) -604px 0 no-repeat;
}

a.logo__dunlop:hover {
  display: block;
  width: 72px;
  height: 25px;
  background: url(../img/brands_sprite.png) -604px -31px no-repeat;
}


/*-------------------FOOTER-------------------------------------------*/



footer {
  clear: both;
  width: 908px;
  height: 100px;
  margin: 0 auto;
  background: #213a4d;
}

footer ul {
  list-style: none;
  width: 321px;
  margin: 0 auto;
  padding-top: 6px;
}


footer ul li a {
  display: block;
  float: left;
  padding: 5px 11px;
  color: #bec6c9;
  font-family: Arial, sans-serif;
  font-size: 13px;
  text-decoration: none; 
  letter-spacing: 0.01em;
} 


footer ul li:after {
  content: "";
  display:block;
  margin-top: 8px;
  float: left;
  width: 1px;
  height: 10px;
  background: #bec6c9;
}


footer ul li:last-child:after {
  content: "";
  width: 0;
}



footer ul li a:hover {
  color: #52abcb;
}

footer p {
  clear: both;
  padding-top: 12px;
  color: #7f4740;
  font-family: Arial, sans-serif;
  font-size: 9px;
  letter-spacing: 0.08em;
}